<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="toPrint" style="padding: 2rem 2.25rem">
      <table style="width: 500px;border: 2px solid black; border-collapse: collapse;">
        <tbody style="border: 2px solid black; border-collapse: collapse; ">
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2"
              style="padding: 6px; color: #6f0b82; background-color: #f7f0f0;font-size: 10px;text-align: center"><b>
                ACCIDENT REGISTER FORM
              </b></td>
          </tr>
          <tr>
            <td style="text-align: left; padding: 5px; width: 313px;font-size: 10px "><b>Hospital Id : </b>{{printData.hospitalDetails.hospitalId}}</td>
            <td style="text-align: left; padding: 5px; width: 313px;font-size: 10px"><b>Hospital Type :</b> {{printData.hospitalDetails.hospitalType}}</td>
          </tr>
          <tr>
            <td style="text-align: left; padding: 5px; width: 313px;font-size: 10px"><b>Hospital Number :</b> {{printData.hospitalDetails.hospitalNumber}}</td>
            <td style="text-align: left; padding: 5px; width: 313px;font-size: 10px"><b>Hospital Directorate : </b>{{printData.hospitalDetails.hospitalDirectorate}}</td>
          </tr>
          <tr>
            <td style="text-align: left; padding: 5px; width: 313px;font-size: 10px"><b>District :</b> {{printData.hospitalDetails.district}}</td>
            <td style="text-align: left; padding: 5px; width: 313px;font-size: 10px "><b>Hospital Name : </b>{{printData.hospitalDetails.hospitalName}}</td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82; background-color: #f7f0f0;font-size: 10px"><b>ADMISSION DETAILS</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>AR Number : </b>{{printData.arNumber}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>OP Number :</b> {{printData.admissionDetails.opNumber}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>IP Number :</b> {{printData.admissionDetails.ipNumber}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>MLC Number :</b> {{printData.admissionDetails.mlcNumber}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Person Brought :</b> {{printData.admissionDetails.personBrought}}
            </td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Admission Date & Time:</b>
              {{printData.admissionDetails.admissionDate}}/{{printData.admissionDetails.admissionTime}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Informed to the Police? :</b>
              {{printData.admissionDetails.isIformedToPolice}}
            </td>
            <td *ngIf="printData.admissionDetails.toWhom" style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>To Whom:</b>{{printData.admissionDetails.toWhom}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px">
              <b>Affidavit :</b> {{printData.admissionDetails.affidavit}}
            </td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82;background-color: #f7f0f0;font-size: 10px"><b>PATIENT DETAILS</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Name : </b>{{printData.patientDetails.name}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Age : </b>{{printData.patientDetails.age}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Gender :</b> {{printData.patientDetails.gender}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Occupation :</b> {{printData.patientDetails.occupation}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Identity Mark 1 :</b> {{printData.patientDetails.identyMark1}}
            </td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Location 1 :</b> {{printData.patientDetails.location1}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Identity Mark 2 : </b>{{printData.patientDetails.identyMark2}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Location 2 :</b> {{printData.patientDetails.location2}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Address : </b>{{printData.patientDetails.doorNoStreet}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>City/ District :</b> {{printData.patientDetails.cityDistrict}}
            </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Phone Number : </b>{{printData.patientDetails.phoneNumber}}
            </td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82;background-color: #f7f0f0;font-size: 10px"><b>DOCTOR DETAILS AND INITIAL
                EXAMINATION</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Doctor Name :</b> {{printData.doctorDetailsAndiInitialExamination.doctorName}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>MCI Registration Number :</b>
              {{printData.doctorDetailsAndiInitialExamination.doctorRegistrationNumber}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Pulse :</b>
            {{printData.doctorDetailsAndiInitialExamination.pulse}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Blood Pressure : </b>
            {{printData.doctorDetailsAndiInitialExamination.bloodPressureHigh}}/{{printData.doctorDetailsAndiInitialExamination.bloodPressureLow}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Respiration Rate :</b>{{printData.doctorDetailsAndiInitialExamination.respirationRate}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Oxygen Saturation : </b>{{printData.doctorDetailsAndiInitialExamination.oxygenSaturation}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Pupillary Reaction :</b> {{printData.doctorDetailsAndiInitialExamination.pupillaryReaction}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Nature of Injury :</b> {{printData.doctorDetailsAndiInitialExamination.injuryType}}
            </td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82;background-color: #f7f0f0;font-size: 10px"><b>ACCIDENT DETAILS</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Location :</b> {{printData.accidentDetails.location}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Landmark : </b>{{printData.accidentDetails.landmark}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Accident Date & Time:</b>
             {{printData.accidentDetails.accidentDate}}/{{printData.accidentDetails.accidentTime}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Accident Type:</b> {{printData.accidentDetails.accidentType}} </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 5px;font-size: 10px"><b>Doctor
                Description:</b> {{printData.doctorDetailsAndiInitialExamination.doctorDescription}}</td>
          </tr>
          <tr
            style="text-align: left; border: 2px solid black; border-bottom: 1px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; border-bottom: none; color: #6f0b82; background-color: #f7f0f0;font-size: 10px"><b>RTA
                DETAILS</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border:2px solid black; border-top: none; padding: 6px; padding: 5px;font-size: 10px; border-collapse:collapse; ">
              <b>Patient Position : </b>{{printData.accidentDetails.patientPosition}}</td>
            <td style="border:2px solid black; border-top: none; padding: 6px; padding: 5px;font-size: 10px; border-collapse:collapse;">
              <b>Vechile Type :</b> {{printData.accidentDetails.vechileType}} </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2"
              style="border:2px solid black; border-top:none; padding: 6px; padding: 5px;font-size: 10px; border-collapse:collapse;">
              <b>Patient Type : </b>{{printData.accidentDetails.patientType}}</td>
          </tr>
        </tbody>
    
      </table>
    </div>
</body>
</html>