<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
  .border {
    border: 2px solid black !important;
  }

  .class {
    background-color: #f7f0f0 !important;
    color: #6f0b82;
  }

  td {
    max-width: 19.5rem;
    min-width: 19.5rem;
  }
  table,td{
    padding: 0.25rem !important
  }
</style>

<body>
  <br><br>
  <div id="toPrint">

    <div style="padding:0 10%">
      <table class="table table-responsive" style="max-width:80%">
        <tr class="border">
          <td colspan="2" class="class"><b>ACCIDENT REGISTER FORM</b></td>
        </tr>
        <tbody class="border">
          <tr>
            <td><b>Hospital Id : </b>{{printData.hospitalDetails.hospitalId}}</td>
            <td><b>Hospital Type :</b> {{printData.hospitalDetails.hospitalType}}</td>
          </tr>
          <tr>
            <td><b>Hospital Number :</b> {{printData.hospitalDetails.hospitalNumber}}</td>
            <td><b>Hospital Directorate : </b>{{printData.hospitalDetails.hospitalDirectorate}}</td>
          </tr>
          <tr>
            <td><b>District :</b> {{printData.hospitalDetails.district}}</td>
            <td><b>Hospital Name : </b>{{printData.hospitalDetails.hospitalName}}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="border class" colspan="2"><b>ADMISSION DETAILS</b></td>
          </tr>
          <tr>
            <td class="border"><b>AR Number : </b>{{printData.arNumber}}</td>
            <td class="border"><b>OP Number :</b> {{printData.admissionDetails.opNumber}}</td>
          </tr>
          <tr>
            <td class="border"><b>IP Number :</b> {{printData.admissionDetails.ipNumber}}</td>
            <td class="border"><b>MLC Number :</b> {{printData.admissionDetails.mlcNumber}}</td>
          </tr>
          <tr>
            <td class="border"><b>Person Brought :</b> {{printData.admissionDetails.personBrought}}</td>
            <td class="border"><b>Admission Date &
                Time:</b>{{printData.admissionDetails.admissionDate}}/{{printData.admissionDetails.admissionTime}}
            </td>
          </tr>
          <tr>
            <td class="border"><b>Informed to the Police? :</b>
              {{printData.admissionDetails.isIformedToPolice}}</td>

            <td class="border"><b>To Whom:</b>{{printData.admissionDetails.toWhom}}</td>

          </tr>
          <tr>
            <td class="border" colspan="2"><b>Affidavit :</b> {{printData.admissionDetails.affidavit}}</td>

          </tr>
          <tr>
            <td class="border class" colspan="2"><b>PATIENT DETAILS</b></td>
          </tr>
          <tr>
            <td class="border"><b>Name : </b>{{printData.patientDetails.name}}</td>
            <td class="border"><b>Age : </b>{{printData.patientDetails.age}}</td>
          </tr>
          <tr>
            <td class="border"><b>Gender :</b> {{printData.patientDetails.gender}}</td>
            <td class="border"><b>Occupation :</b> {{printData.patientDetails.occupation}}</td>

          </tr>
          <tr>
            <td class="border"><b>Identity Mark 1 :</b> {{printData.patientDetails.identyMark1}}</td>
            <td class="border"><b>Location 1 :</b> {{printData.patientDetails.location1}}</td>
          </tr>
          <tr>
            <td class="border"><b>Identity Mark 2 : </b>{{printData.patientDetails.identyMark2}}</td>
            <td class="border"><b>Location 2 :</b> {{printData.patientDetails.location2}}</td>
          </tr>
          <tr>
            <td class="border"><b>Address : </b>{{printData.patientDetails.doorNoStreet}}</td>
            <td class="border"><b>City/ District :</b> {{printData.patientDetails.cityDistrict}}</td>
          </tr>
          <tr>
            <td colspan="2" class="border"><b>Phone Number : </b>{{printData.patientDetails.phoneNumber}}</td>
          </tr>
          <tr>
            <td colspan="2" class="border class"><b>DOCTOR DETAILS AND INITIAL EXAMINATION</b></td>
          </tr>
          <tr>
            <td class="border"><b>Doctor Name :</b> {{printData.doctorDetailsAndiInitialExamination.doctorName}}</td>
            <td class="border"><b>MCI Registration Number :</b>
              {{printData.doctorDetailsAndiInitialExamination.doctorRegistrationNumber}}</td>
          </tr>
          <tr>
            <td class="border"><b>Pulse :</b>
              {{printData.doctorDetailsAndiInitialExamination.pulse}}</td>
            <td class="border"><b>Blood Pressure : </b>
              {{printData.doctorDetailsAndiInitialExamination.bloodPressureHigh}}/{{printData.doctorDetailsAndiInitialExamination.bloodPressureLow}}
            </td>
          </tr>
          <tr>
            <td class="border"><b>Respiration Rate
                :</b>{{printData.doctorDetailsAndiInitialExamination.respirationRate}}</td>
            <td class="border"><b>Oxygen Saturation :
              </b>{{printData.doctorDetailsAndiInitialExamination.oxygenSaturation}}</td>
          </tr>
          <tr>
            <td class="border"><b>Pupillary Reaction :</b>
              {{printData.doctorDetailsAndiInitialExamination.pupillaryReaction}}</td>
            <td class="border"><b>Nature of Injury :</b> {{printData.doctorDetailsAndiInitialExamination.injuryType}}
            </td>
          </tr>
          <tr>
            <td colspan="2" class="border class"><b>ACCIDENT DETAILS</b></td>
          </tr>
          <tr>
            <td class="border"><b>Location :</b> {{printData.accidentDetails.location}}</td>
            <td class="border"><b>Landmark : </b>{{printData.accidentDetails.landmark}}</td>
          </tr>
          <tr>
            <td class="border"><b>Accident Date & Time:</b>
              {{printData.accidentDetails.accidentDate}}/{{printData.accidentDetails.accidentTime}}</td>
            <td class="border"><b>Accident Type:</b> {{printData.accidentDetails.accidentType}} </td>
          </tr>
          <tr>
            <td colspan="2" class="border"><b>Doctor Description:</b>
              {{printData.doctorDetailsAndiInitialExamination.doctorDescription}}</td>
          </tr>
          <tr>
            <td colspan="2" class="border class"><b>RTA DETAILS</b></td>
          </tr>
          <tr>
            <td class="border"><b>Patient Position : </b>{{printData.accidentDetails.patientPosition}}</td>
            <td class="border"> <b>Vechile Type :</b> {{printData.accidentDetails.vechileType}} </td>
          </tr>
          <tr>
            <td colspan="2" class="border"><b>Patient Type : </b>{{printData.accidentDetails.patientType}}</td>
          </tr>
        </tbody>
        <tbody id="arBody">

        </tbody>
      </table>
    </div>


  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>