<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="toPrint" style="padding: 0 2.25rem;max-height:500px">
      <table style="width: 500px;border: 2px solid black; border-collapse: collapse;border: 1px solid black">
        <tbody style="border: 2px solid black; border-collapse: collapse; ">
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2"
              style="padding: 6px; color: #6f0b82; background-color: #f7f0f0;font-size: 10px;text-align: center"><b>
                ACCIDENT REGISTER FORM
              </b></td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2"
              style="padding: 6px; color: #000000;font-size: 10px;text-align: center"><b>
               Hospital Name:
              </b> {{printData.hospitalDetails.hospitalName}}
            </td>
          </tr>
          <tr>
            <td style="text-align: left; padding: 3px; width: 313px;font-size: 10px"><b>Hospital Type :</b> {{printData.hospitalDetails.hospitalType}}</td>
            <td style="text-align: left; padding: 3px; width: 313px;font-size: 10px"><b>District :</b> {{printData.hospitalDetails.district}}</td>
          </tr>
          <tr>
            <td style="text-align: left; padding: 3px; width: 313px;font-size: 10px"><b>Hospital Number :</b> {{printData.hospitalDetails.hospitalNumber}}</td>
            <td style="text-align: left; padding: 3px; width: 313px;font-size: 10px"><b>Hospital Directorate : </b>{{printData.hospitalDetails.hospitalDirectorate}}</td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82; background-color: #f7f0f0;font-size: 10px"><b>PATIENT INFORMATION</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td  style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>AR Number : </b>{{printData.arNumber}}</td>
            <td  style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Arrival Date & Time : </b>{{printData.patientInformation.arrivalDate}}
           </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Name : </b>{{printData.patientInformation.name}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Age :</b> {{printData.patientInformation.age}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Gender :</b> {{printData.patientInformation.gender}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Occupation :</b> {{printData.patientInformation.occupation}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>IdentyMark1 :</b> {{printData.patientInformation.identyMark1}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Location1 :</b> {{printData.patientInformation.location1}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>IdentyMark2 :</b> {{printData.patientInformation.identyMark2}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Location2 :</b> {{printData.patientInformation.location2}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Address :</b> {{printData.patientInformation.doorNoStreet}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Phone Number :</b> {{printData.patientInformation.phoneNumber}}</td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82;background-color: #f7f0f0;font-size: 10px"><b>DETAILS OF PERSON BROUGHT</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Name : </b>{{printData.personBrought.name}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Phone Number :</b>{{printData.personBrought.phoneNumber}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Relation : </b>{{printData.personBrought.relationship}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b style="font-size:10px">Address :</b>{{printData.personBrought.address}}</td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82;background-color: #f7f0f0;font-size: 10px"><b>MLC INFORMATION</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Informed to the Police ? : </b>{{printData.mlcInformation.isInformedToPolice}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Police Officer Name : </b>{{printData.mlcInformation.toWhom}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Location :</b> {{printData.mlcInformation.location}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Needed Dying Declaration ? :</b> {{printData.mlcInformation.isNeededDyingDeclaration}}
            </td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Needed Statement ? :</b> {{printData.mlcInformation.isNeededStatement}}</td>
          </tr>
          <tr
            style="text-align: left; border: 2px solid black; border-bottom: 1px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; border-bottom: none; color: #6f0b82; background-color: #f7f0f0;font-size: 10px"><b>RTA
                DETAILS</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2"
              style="border:2px solid black; border-top:none; padding: 6px; padding: 3px;font-size: 10px; border-collapse:collapse;">
              <b>Case Type : </b>{{printData.mlcInformation.caseType}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border:2px solid black; border-top: none; padding: 6px; padding: 3px;font-size: 10px; border-collapse:collapse; ">
              <b>Patient Position : </b>{{printData.mlcInformation.patientPosition}}{{printData.mlcInformation.otherPatientPosition}}</td>
            <td style="border:2px solid black; border-top: none; padding: 6px; padding: 3px;font-size: 10px; border-collapse:collapse;">
              <b>Patient Type : </b>{{printData.mlcInformation.patientType}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border:2px solid black; border-top:none; padding: 6px; padding: 3px;font-size: 10px; border-collapse:collapse;">
              <b>Vechile Type :</b> {{printData.mlcInformation.vechileType}}{{printData.mlcInformation.otherVechileType}} </td>
              <td style="border:2px solid black; border-top:none; padding: 6px; padding: 3px;font-size: 10px; border-collapse:collapse;">
                <b>Vechile Number : </b>{{printData.mlcInformation.vechileNumber}}</td>
          </tr>
          <tr style="text-align: left; border: 2px solid black; border-collapse: collapse; ">
            <td colspan="2" style="padding: 6px; color: #6f0b82;background-color: #f7f0f0;font-size: 10px"><b>EXAMINATION DETAILS</b></td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Nature of Injury :</b> {{printData.examinationDetails.natureOfInjury}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Type of Injury :</b>
              {{printData.examinationDetails.typeOfInjury}}{{printData.examinationDetails.otherTypeOfInjury}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Injured Part :</b>
            {{printData.examinationDetails.injuredPartOfBody}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Heart Rate :</b>{{printData.examinationDetails.heartRate}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Conscious:</b>{{printData.examinationDetails.conscious}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Blood Pressure : </b>
              {{printData.examinationDetails.bloodPressureHigh}}/{{printData.examinationDetails.bloodPressureLow}}</td>          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Orientation :</b> {{printData.examinationDetails.orientation}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Description of Pupil :</b> {{printData.examinationDetails.descriptionOfPupil}}
            </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b style="font-size:10px">History :</b> {{printData.examinationDetails.history}}
            </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b style="font-size:10px">Physician Opinion :</b> {{printData.examinationDetails.physicianOpinion}}</td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b style="font-size:10px">Treatment Plan :</b> {{printData.examinationDetails.treatmentPlan}}</td>
            </td>
          </tr>
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td colspan="2" style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Outcome :</b> {{printData.examinationDetails.outCome}}</td>
            </td>
          </tr> 
          <tr style="border: 2px solid black; border-collapse: collapse;">
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Referral Institution :</b> {{printData.examinationDetails.referralInstitutionType}}</td>
            <td style="border: 2px solid black; border-collapse: collapse; padding: 3px;font-size: 10px"><b>Reason for Referral :</b> {{printData.examinationDetails.reasonforReferral}}
            </td>
          </tr>           
        </tbody>
    
      </table>
    </div>
</body>
</html>